<div class="collection-container">
    {% paginate collection.products by 4 %}
        <h1>{{ collection.title }}</h1>
        <div class="card-container">
            {% for product in collection.products %}
                <div class="card">
                    {% if product.featured_image %}
                        <img src="{{ product.featured_image.src |  image_url: width: "100px"}}" alt="{{ product.featured_image.alt }}">
                    {% endif %}
                    <span>{{ product.vendor }}</span>
                    <a href="{{ product.url }}">
                        <h1>{{ product.title }}</h1>
                    </a>
                    <h2>{{ product.price |  money }}</h2>  
                </div>
            {% else %}
                <p>no items available</p>
            {% endfor %}
        </div>

        {% render "pagination", pagination: paginate %}
    {% endpaginate %}    
</div>

<style>
    .collection-container{
        padding: 24px 16px;
    }

    .card-container{
        display: grid;

        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        grid-auto-rows: auto;

        grid-gap: 3rem;
    }

    .card{
        padding: 10% 3%;
        width: 100%;
        border: solid 4px red;

    }
</style>