<div class="collection-container">
    <h1>{{ collection.title }}</h1>
    {% paginate collection.products by 14 %}
        <div class="grid-container">
            <div class="sidebar-container">
                sidebar
            </div>
            <div class="card-container">
                {% for product in collection.products %}
                    <div class="card">
                        {% if product.featured_image %}
                            <img src="{{ product.featured_image.src | image_url: width: '300px' }}" alt="{{ product.featured_image.alt }}">
                        {% endif %}
                        <div class="card-text">
                            <span>{{ product.vendor }}</span>
                            <a href="{{ product.url }}">
                                <h1>{{ product.title }}</h1>
                            </a>
                            <h2>{{ product.price | money }}</h2>
                        </div>
                    </div>
                {% else %}
                    <p>No items available</p>
                {% endfor %}
            </div>
        </div>
        <div class="pagination-container">
            {% render "pagination", pagination: paginate %}
        </div>
    {% endpaginate %}    
</div>

<style>
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.collection-container {
    padding: 24px 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 80vh;
}

.sidebar-container {
    padding: 16px;
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: auto;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 16px;
    overflow-y: auto;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10% 3%;
    border: solid 4px red;
}

.card img {
    width: 100%;
    max-width: 300px; /* Set a specific width for mobile and desktop */
    height: auto;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card span, .card a, .card h2 {
    word-wrap: break-word;
}

.pagination-container {
    padding: 16px 0;
    text-align: center;
}

</style>
