<section>
    <div>
        {% render "header" %}
    </div>
    <img src="{{ article.image.src |  image_url: width: "600px" }}" alt="{{ article.image.alt }}">
    <h1>{{ article.title }}</h1>
    <h1>Written by {{ article.author }}</h1>
    <div class="time-container">
        <time class="time-published" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>
    </div><div id="cont">
        {{ article.content }}
    </div>
</section>


<style>
    .time-container {
        text-align: center;
        margin: 10px 0;
    }

    h1 {
        text-align: center;
    }

    #cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding: 16px;
        margin: 0 auto;
        max-width: 800px;
    }

    #cont img {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
    }

    @media (max-width: 600px) {
        #cont {
            padding: 8px;
            font-size: 0.875rem;
        }
    }
</style>


<script>
    function highlightLinks(textElement) {
    // Regular expression to match HTTP links
    const urlRegex = /(?:https?:\/\/)?(?:www\.)?([^\s]+\.[^\s]+)/gi;


    // Wrap matched links in a span with red color
    const highlightedText = textElement.textContent.replace(urlRegex, (url) => {
        // let urlString = url.toString()
        // {%  assign testImg =  urlString %}
        console.log("@@@@@url: "+url)

        return `<img src=${url}>`
        // return `<span style="color: red">${url}</span>`;
    });

    // Update the element's innerHTML with the highlighted text
    textElement.innerHTML = highlightedText;
    }

    // Get the element containing the text (e.g., paragraph, div)
    const contentViewDiv = document.getElementById("cont");
    // let text = "{{ testImg }}"
    // console.log("@@@@@: "+text)

    // Check if element exists
    if (contentViewDiv) {
    highlightLinks(contentViewDiv);
    } else {
    console.error("Text element not found!");
    }
</script>