<div class="collection-container">
    <h1>{{ collection.title }}</h1>
    {% paginate collection.products by 10 %}
        <div class="grid-container">
            <div class="sidebar-container">
                sidebar
            </div>
            <div class="card-container">
                {% for product in collection.products %}
                    <div class="card">
                        {% if product.featured_image %}
                            <img src="{{ product.featured_image.src | image_url: width: '100px' }}" alt="{{ product.featured_image.alt }}">
                        {% endif %}
                        <span>{{ product.vendor }}</span>
                        <a href="{{ product.url }}">
                            <h1>{{ product.title }}</h1>
                        </a>
                        <h2>{{ product.price | money }}</h2>  
                    </div>
                {% else %}
                    <p>No items available</p>
                {% endfor %}
            </div>
        </div>
        <div class="pagination-container">
            {% render "pagination", pagination: paginate %}
        </div>
    {% endpaginate %}    
</div>


<style>

.collection-container {
    padding: 24px 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 80vh; /* Adjusted height to allow space for pagination */
}

.sidebar-container {
    padding: 16px;
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: auto; /* Allows sidebar to scroll if content overflows */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    padding: 16px;
    overflow: visible; /* Prevent internal scroll bars */
    height: auto; /* Let the container expand as needed */
}

.card {
    padding: 10% 3%;
    width: 100%;
    border: solid 4px red;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card span, .card a, .card h2 {
    word-wrap: break-word;
}

.pagination-container {
    padding: 16px 0;
    text-align: center;
}

</style>
